@media (max-width: 700px) {
  body {
    font-size: 16px;
  }
  .info {
    display: block;
    text-align: center;
    font-size: large;
  }
  .container {
    font-size: large;
  }
}

@media (max-width: 414px) {
  body {
    font-size: 1.5em;
  }
  ul,
  p {
    /* font-size: 1.5em; */
  }
  .info {
    display: block;
    text-align: center;
  }
  .info-text h1 {
    font-weight: 600;
    margin-top: 1em;
    /* color: rgb(175, 1, 1); */
  }

  .info-text {
    font-size: xx-large;
    margin: 0px;
  }
  .container {
    /* font-size: xx-large; */
  }

  .form-group input,
  .form-group textarea {
    font-size: xx-large;
  }

  .table {
    font-size: large;
  }
  .social ul {
    margin-left: 0px;
  }
}
