@media (max-width: 700px) {
  body {
    font-size: 16px;
  }
  .info {
    display: block;
    text-align: center;
    font-size: large;
  }
  .container {
    font-size: large;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 16px;
  }
  .info {
    display: block;
    text-align: center;
    font-size: xx-large;
  }
  .container {
    font-size: xx-large;
  }

  .form-group input,
  .form-group textarea {
    font-size: xx-large;
  }
}
