/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:ital@1&display=swap");

/* * {
  padding: 0px;
  margin: 0px;
} */
/* ul {
  margin: 0px;
  padding: 0px;
} */

body {
  background-color: rgb(24, 24, 24);
  font-size: 1rem;
  /* font-family: "Roboto", sans-serif; */
  font-size: 16px;
  font-family: "PT Sans", sans-serif;

  font-weight: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font: 16px normal "Roboto", sans-serif; */
}
a {
  color: #000;
  /* color: rgb(214, 214, 214); */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(129, 0, 0);
}

a:active {
  color: rgb(0, 0, 0);
}

.avatar {
  /* width: 200px; */
  height: 250px;
  border-radius: 20px;
  /* box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5); */
  box-shadow: 4px 4px 14px rgba(248, 246, 246, 0.5);
}

.head-block {
  position: relative;
  /* border: 2px solid #000; */
}
.head-block a {
  text-decoration: none;
}

/* открыть - закрыть вкладку */
.open-close {
  position: absolute;
  /* border: 2px solid red; */
  top: 0px;
  right: 0px;
}

.open-close a {
  color: rgb(129, 0, 0);
}

.toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
}

.info p {
  color: rgb(214, 214, 214);
  margin: 0;
  padding-bottom: 10px;
  font-style: italic;
  text-decoration: none;
}

.info {
  display: flex;
  margin-bottom: 20px;
  color: rgb(214, 214, 214);
}
.info-text {
  color: rgb(214, 214, 214);
  margin-left: 40px;
  font-size: 1.1em;
}

.info-text h1 {
  margin-top: 0px;
  color: rgb(175, 1, 1);
}
.info-text h4 {
  margin-bottom: 0px;
}

.info-text ul {
  margin-top: 10px;
  list-style-type: symbols(&raquo;);
}

.info-text a {
  color: rgb(214, 214, 214);
}

.info-text h4 {
  margin-top: 1em;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.social li {
  padding: 2px;

  text-align: left;
  /* background-color: burlywood; */
  /* border: 5px solid red; */
  /* border-bottom-style: dotted; */
  /* border-top-width: 15px; */
  /* border-right-color: #bbb; */
  /* margin: 20px; */
}

ul {
  list-style: none;
}

ul li::before {
  content: "\200B";
}

/* .box-model div {
  background-color: #000;
  height: 200px;
  width: 25%;
  float: left;
  border: 4px #ccc solid;
  box-sizing: border-box;
} */

.bg-yellow {
  /* background-color: rgb(241, 237, 175); */
  background: linear-gradient(rgb(241, 237, 175), rgb(248, 246, 219));
}
.bg-green {
  /* background-color: rgb(203, 253, 193); */
  background: linear-gradient(rgb(203, 253, 193), rgb(232, 243, 229));
}
.bg-red {
  /* background-color: rgb(252, 195, 185); */
  background: linear-gradient(rgb(252, 195, 185), rgb(247, 228, 224));
}
.bg-blue {
  background-color: rgb(192, 214, 253);
}

.bg-card {
  background: linear-gradient(rgb(230, 109, 109), rgb(255, 255, 255));
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border-left: 8px solid rgb(175, 1, 1);
  border-right: 8px solid rgb(175, 1, 1);
}

.card h2 {
  margin-bottom: 10px;
  color: rgb(3, 2, 59);
}

.card:hover,
.up:hover {
  /* box-shadow: 4px 4px 14px rgba(255, 255, 255, 1); */
  box-shadow: 0px 0px 24px rgba(255, 255, 255, 1);
  /* Анимация */
  -webkit-transition: 0.01s ease-out;
  /* -webkit-transition-delay: 0.5s; */
  -o-transition: 0.01s ease-out;
  /* -o-transition-delay: 0.5s; */
  -moz-transition: 0.01s ease-out;
  /* -moz-transition-delay: 0.5s; */
  transition: 0.1s ease-out;
  /* transition-delay: 0.5s; */
}

.list,
.link-list {
  /* padding: 0 20px; */
  list-style-type: circle;
  /* margin-left: 20px; */
}
.list li {
  margin-bottom: 10px;
  /* padding: 0 20px; */
}
.link-list li,
.list li {
  margin-bottom: 10px;
  padding-bottom: 3px;
  /* padding-left: 10px; */
  /* border-bottom: 1px solid #ccc; */
}

.table {
  width: 100%;
  border-spacing: 0px;
}
.table td,
th {
  padding-bottom: 10px;
}
.table th,
td {
  padding: 10px;
}
.table tr {
  text-align: left;
}
.table tbody > tr:hover {
  background-color: transparent;
  opacity: 0.8;
  color: rgb(175, 1, 1);
  transition: 700ms;
  /* text-decoration: underline; */
}
.table td:nth-child(2),
.table td:nth-child (3) {
  color: #777;
}

.table tr:nth-child (even) {
  /* background-color: #ddd; */
  /* border-bottom: 2px solid red; */
}
thead {
  font-weight: bold;
}

.contact h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group label {
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}
.row > .form-group:last-child {
  margin-right: 0;
}
.btn {
  background: rgb(97, 96, 96);
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 7px;
}

.btn:hover {
  background: rgb(0, 0, 0);
  transition: 1s;
  color: rgb(247, 228, 120);
}

/* position */
.position {
  position: relative;
  border: 4px solid #000;
  margin-top: 40px;
  padding: 20px;
  height: 200px;
}

.box {
  position: absolute; /*  внутри .position */
  /* top: 0; */
  /* left: 0; */
  right: 0;

  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: lightcoral;
}

.box-circle {
  position: absolute; /*  внутри .position */
  top: 0;
  left: 0;
  /* right: 0; */
  /* bottom: 0; */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(142, 131, 238);
}

.bottom-menu {
  /* position: absolute; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightcoral;
  text-align: center;
  z-index: 1000;
}

.bottom-menu-text {
  padding-top: 20px;
}

footer {
  margin-bottom: 50px;
}

/* Кнопка НАВЕРХ */
.up {
  position: relative;
  /* top: 50%; */
  /* right: 0px; */
  /* width: 50px; */
  height: 50px;
  border-radius: 50px;
  background-color: rgb(189, 189, 189);
  text-align: center;
}

.up-text {
  vertical-align: middle;
  padding: auto 0px;
  /* vertical-align: super; */

  height: inherit;
  text-transform: uppercase;
  /* padding-top: 15px; */

  /* margin-top: 25px!important;  */
}
.up-text a {
  /* vertical-align: middle; */
}
